<br/>
<div class="columns is-mobile has-background-primary">
  <div class="column is-one-fifth is-offset-8">
    <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="email" placeholder="Email">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="password" placeholder="Contraseña">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field is-right">
        <p class="control">
          <button class="button is-success">
            Iniciar Seción
          </button>
        </p>
      </div>
    </div>
  </div>

<div class="login">
  <h1 align="center" class="title">Registrarse</h1>
  <form action="" method="post" style="text-align:center;">

      <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input class="input" type="email" placeholder="Usuario">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>
        </div>

      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input class="input" type="email" placeholder="Email">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </p>
      </div>

  <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="password" placeholder="Contraseña">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
 
    <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Registrarte</button>
    </div>
  </div>
</form>
</div>


<footer class="footer has-background-grey-lighter">
    <div class="content has-text-centered">
      <p>
        <strong>YaviBook</strong> de <a href="https://jgthms.com">Juan Carvajal</a>. El código fuente tiene licencia
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
      </p>
    </div>
  </footer>